body {
  margin: 0;
  font-family: 'Raleway', 'PT Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 93px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
 background: #030406;
}

::-webkit-scrollbar-thumb {
 background: #555555;
}